$color: #ff6600;
$font: 'Montserrat Alternates', 'Helvetica', sans-serif;
@mixin navButtons($size) {
    width: $size;
    height: $size;
    object-fit: contain;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0.2rem;
    padding: 0;
    font-family: $font
}

h1 {
    font-size: 2.81rem;
    text-align: center;
    color: $color;
}

p {
    margin-top: 1rem;
}

.navbuttonshome img, .contactbuttons img {
    @include navButtons(12.5rem)
}

.navbuttonscontent img {
    @include navButtons(6.25rem)
}

.navbuttonshome,.contactbuttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;



}


.container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1fr, 6.25rem));
}

.textbody {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.contactbutton {
    grid-row-start: 1;
    grid-column-start: 2;
}

.navbuttonscontent {
    grid-row-start: 2;
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

@media only screen and (min-width: 600px) {
    .container {
        grid-template-rows: 1fr;
        grid-template-columns: 20vw 60vw 20vw;
    }
    .contactbuttons{
        grid-column-start: 2;
    }
    .navbuttonscontent {
        grid-row-start: 1;
        align-self: start;
        flex-direction: column;
    }
    .textbody {
        grid-column-start: 2;
    }
}
